%h1 Login
= form_tag sessions_path, :class => "form-horizontal" do
  .control-group
    = label_tag :email, "Email", :class => "control-label"
    .controls
      = text_field_tag :email, params[:email]
  .control-group
    = label_tag :password, "Password", :class => "control-label"
    .controls
      = password_field_tag :password
  .form-actions
    = submit_tag "Log in", :class => "btn btn-primary"
    = link_to "Register", new_user_path, :class => "btn"