-if params[:tag]
  %h1
    Showing Goals tagged with "
    = params[:tag]
    "
- else
  = simple_form_for(Goal.new, :remote => true, :html => {:class => "form-inline"}) do |f|
    = f.error_notification
    = f.input_field :title, :class => "span6", :placeholder => "Specific, Achievable and with a Timeline"
    = f.button :submit, :class => "btn btn-primary"
    
%table.table.table-striped#goals
  %tr.headers
    %th Goal
    %th Progress
    %th
  = render @goals

